<h1>Discs</h1>
<ul>

<% @user.discs.each do |disc| %>
  <li><a href="/discs/<%=disc.id%>">    <%= disc.name %></a></li>
<% end %>

</ul>

<h3><a href="/discs/new">Add a disc to your bag!</a></h3>
<h3><a href="/logout">Log Out</a></h3>

