<h1>New Disc</h1>

<form method="POST" action="/discs">
    <p>Name: <input type="text" name="name"></p>
    <p>Brand: <input type="text" name="brand"></p>
    <p>Color: <input type="text" name="color"></p>
    <p>Speed: <input type="integer" name="speed"></p>
    <p>Glide: <input type="integer" name="glide"></p>
    <p>Turn: <input type="integer" name="turn"></p>
    <p>Fade: <input type="integer" name="fade"></p>
    <input type="submit">
</form>
