<div class="container">
  <header><img src="https://destinationmissoula.org/images/headers/disc-golf.jpg" class="center" width="550" height="155"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>DGDiscs - Disc Keeper</h1><br>

    <div class="content">
      <p>Welcome to the DGDiscs Sinatra Application!</p>

      <h3><a href="/login">Login</a></h3>
      <h3><a href="/signup">Sign Up</a></h3>
    </div>

    <div class="sidebar">
      <h3>What is DGDiscs used for?</h3>
      <p>Use this application to keep track of all of your disc golf disks!</p>
    </div>

  </div>
</div>
